body {
  background-color: #f0f2f5;
}

main {
  padding: 20px 50px;
}

header {
  background-color: #001529;
}

.filters-outside {
  max-width: 25%;
  padding: 0px 10px;
}

.content-outside {
  max-width: 75%;
  padding: 0px 10px;
}

.content-input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px !important;
  font-size: 16px;
  padding: 6.5px 11px !important;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  display: inline-block;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  margin: 0;
  min-width: 0;
  padding: 4px 11px;
  position: relative;
  transition: all 0.3s;
  width: 100%;
}

.special-select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  outline: none;
}

.special-select option {
  color: #333;
}

.special-select::placeholder {
  color: #ccc;
}

.special-input {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 8px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  margin: 0;
  outline: none;
}

.special-input::placeholder {
  color: #ccc;
}